/* <h1>flex　横並びサンプル</h1> */
.oya1 {
display:flex;
}

/* <h1>flex　2列サンプル</h1> */
.oya2 {
display:flex;
}
.oya2_ko1 {
width:100px;
}
.oya2_ko2 {
flex: 1 1 auto;
}

/* <h1>flex  子要素センタリングサンプル</h1> */
.oya3 {
display:flex;
justify-content:center;
}

/* 線の設定 */
div {
border:10px solid red;
margin:10px;
padding:10px;
}
div div:first-child{
border:10px solid blue;
}
div div{
border:10px solid yellow;
}